.footer{
    display: flex;
    flex-direction: column;
    background-color: rgb(53, 51, 51);

    @media (min-width: 768px) {
        text-align: center;
    }

    &__logo{
        margin-left: 20px;
        padding-top: 15px;
        font-family: 'shrikhand' , sans-serif;
        color: white;
    }
    &__ul{
        font-family: 'Roboto' , sans-serif;
        font-size: 15px;
        margin-left: -20px;
        margin-bottom: 20px;
    }
    &__a{
        color: white;
    }

    &__li{
        margin-bottom: 5px;
    }
}

.fa-solid{
    margin-right: 5px;
}
