.header{
    &__logo{
    text-align: center;
    position: relative;
        &__img{
            width: 200px;
            margin: 10px 10px ;
        }
    }

    &__back{
        position: absolute;
        top: 15px;
        left: 20px;
        font-size: 22px;
        cursor: pointer;
    }
}

.localisation{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: rgb(61, 61, 61);

    box-shadow: inset 0px 14px 11px -15px #bbbab8;
    
    border-color: rgb(216, 216, 216);
    
    background-color: rgb(230, 230, 230);
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &__logo{
        margin-right: 10px;
    }
    &__recherche{
        
        border-radius: rgb(216, 216, 216);

        & input{
            border: none;
            background-color: rgb(230, 230, 230);
            max-width: 150px;
        }
    }
}


.explorer{
    background-color: $gris;
    margin-top: -25px;
    min-height: 320px;
    font-family: 'Roboto' , sans-serif;
    text-align: center;
    &__titre{
        font-size: 30px;
        padding-top: 50px;        
    }
    &__soustitre{
        font-size: 20px;
        font-weight: lighter;
        padding-bottom: 25px;
    }
    &__btn{
        border: none;
        text-decoration: none;
        cursor: pointer;
        border-radius: 28px;
        padding:16px 31px;
        color: white;
        background: rgb(169,78,222);
        background: linear-gradient(0deg, rgba(169,78,222,1) 16%, rgba(211,69,231,1) 66%, rgba(246,107,186,1) 100%);
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        transition: all 400ms;

        &:hover{
            opacity: 0.9;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
    }
   
}

.fonctionnement{
    font-family: 'Roboto' , sans-serif;
    font-weight: bold;
    margin-top: 50px;

    &__titre{
        font-size: 20px;
        margin-bottom: 25px;

        @media (min-width: 768px){
            text-align: center;
        }

    }

    &__container{
        display: flex;
        align-items: center;
        border-radius: 20px;
        box-shadow: 0 0 8px rgb(207, 207, 207);

        background-color: $gris;
        margin-bottom: 25px;
        margin-right: 25px;
        
        padding: 20px;

        transition: all 400ms;

        @media (min-width: 768px) {
            max-width: 300px;
            margin: 0 auto;
            margin-bottom: 15px;
        }
        

        &__numero{
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            width: 5px;
            height: 5px;
            padding: 10px;
            border-radius: 50%;
            background-color: $primaire;
            position: relative;
            left: -30px;
            font-size: 15px;
            font-weight: lighter;
            
        }

        &__logo{
            color: gray;
            &__texte{
                margin-left: 20px;
            }
        }
        
        &:hover{
            background-color: #ede6f5;
            opacity: 1;
        } 
    
        &:hover .fonctionnement__container__logo{
           color: $primaire;
    
        }
}
}