$primaire:#9356DC ;
$secondaire:#FF79DA ;
$tertiaire:#99E2D0;
$gris:rgb(243, 243, 243);
$gradient:linear-gradient(blue,red);

@keyframes itemAppear {
    0% {
      opacity: 0;
      transform: translateY(50px) ;
    }
    100% {
      opacity: 1;
      transform: translateY(0) ;
    }

  }

  @keyframes animation {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }

  }

  @keyframes spin {
    0% {
         transform: rotate(0deg);
         }
    100% { 
        transform: rotate(360deg); 
    }
  }

  @keyframes itemappear2 {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}